<ion-view title="Chat detail">
  <ion-content>
    <ion-list>
      <ion-item ng-hide="chats" class="textCenter">
          <i class="icon ion-loading-c"></i> Loading Chats
      </ion-item>
      <ion-item ng-if="chats.length == 0" class="textCenter">
          <h4>No messages in this room. Send message to start.</h4>
      </ion-item>
      <ion-item class="" ng-repeat="chat in chats | orderBy:'createdAt':true" type="item-text-wrap">
          <h4>{{chat.from}} :</h4>
          <span am-time-ago="chat.createdAt" class="item-note">
          </span>
          <p>{{chat.message}}</p>
          <ion-option-button class="button-assertive" ng-click="remove(chat)">
              Delete
          </ion-option-button>
      </ion-item>
    </ion-list><!-- Ion list end here-->
  </ion-content>
  
  <!-- send message fotter start -->
  <ion-footer-bar align-title="left" class="bar-light">
    <div class='col col-90'>  
      <!-- <label > -->
      <input class="col" type="text" ng-model="IM.textMessage" placeholder="Type in your message...">
    </div>
    <div class="col col-10">  
      <button ng-click="sendMessage(IM.textMessage)" class="button button-large button-positive button-clear pull-right icon ion-ios-paperplane">
      </button>
    </div>
  </ion-footer-bar> <!-- send message footer bar ends -->
</ion-view>
