<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Comment</h1>
    <a href='#' class='button-icon icon ion-ios-close-outline assertive' ng-click='closeModal()'></a>
  </ion-header-bar>

  <ion-content>
    
    <!-- Comments Rendered Here -->
    <ion-list id="comments" ng-repeat='comment in reservation.comments | orderBy: "-created_at" | limitTo: 5'>
      <ion-item>
        <div class="item-avatar">
          <img ng-src="http://placehold.it/50x50" alt="{{ reservation.user.name.first + reservation.user.name.last }} Photo">
          <div class="padding-vertical">
            {{comment.message}}
            <p>{{comment.created_at | date}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  
  </ion-content>
  
  <!-- Comment input here -->
  <ion-tabs class="tabs-icon-top">
    <div class= "row">
      <input type="text" ng-model='reservation.new_comment' ng-pattern="/^\w+$/"
              placeholder="What say" class= "col col-100">
      <i class="button button-icon icon ion-android-send balanced" ng-click="postComment()"></i>
    </div>
  </ion-tabs>

</ion-modal-view>