<ion-view title="Reservation detail">
  <ion-content>
    <div class="list card">
      <div class="item item-thumbnail-left item-avatar">
        <!-- <img ng-src="{{reservation.user.photo_url}}" alt="{{ reservation.user.name.first + reservation.user.name.last }} Photo"> -->
        <img ng-src="http://placehold.it/100x100" alt="{{ reservation.user.name.first + reservation.user.name.last }} Photo">
        <div class="padding-vertical">
          <h2>{{ reservation.user.name }}</h2>
          <p>Age 23,Virgo</p>
        </div>
      </div>

      <ion-list class="list-inset">
        <ion-item class="item-text-wrap">
          <div class="item item-icon-left">
            <i class="icon ion-ios-location-outline energized"></i>
            {{ reservation.restaurant_name }}
          </div>

          <div class="item item-icon-left">
            <i class="icon ion-radio-waves balanced"></i>
            {{reservation.proposition | limitTo: 100 }}{{ reservation.bio.length > 150 ? '&hellip;': ''}}
          </div>

          <div class="item item-icon-left">
            <i class="icon ion-ios-time-outline positive"></i>
            {{reservation.time_of_reservation | date}}
          </div>

          <div class="item item-icon-left">
            <i ng-if="reservation.gender_pref == 'male'" class="icon ion-man calm"></i>
            <i ng-if="reservation.gender_pref == 'female'" class="icon ion-woman assertive"></i>
            {{reservation.gender_pref}}
          </div>
        </ion-item>
        <ion-item>
          <div class="button-bar">
            <button class="button button-outline button-positive icon ion-ios-chatbubble-outline" ng-click='openModal()'> Comment</button>
            <button class="button button-outline button-positive icon ion-ios-paperplane-outline button-right"> Request</button>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>



</ion-view>
