<ion-view title='Eatmates'>
  <!-- <ion-nav-buttons side='primary'>
    <button
      class="button button-icon ion-minus-circled"
      ng-click="data.showDelete = !data.showDelete; data.showReorder = false;">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button
      class="button button-icon ion-navicon"
      ng-click="data.showReorder = !data.showReorder; data.showDelete = false;">
    </button> -->
  </ion-nav-buttons>

  <div class="bar bar-subheader
    item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div>


  <ion-content class="has-subheader">
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <!-- List starts here-->
    <ion-list
      show-reorder="data.showReorder"
      show-delete="data.showDelete">
      <ion-item ng-class="{'star': item.star}"
        ng-repeat="item in reservations | filter: query"
        class="item-thumbnail-left item-text-wrap"
        href="#/tab/list/{{item.id}}">
          <!-- <img ng-src="{{item.user.photo_url}}" alt="{{ item.name }} Photo"> -->
          <img ng-src="http://placehold.it/100x100" alt="{{ item.name }} Photo">
          <h2>{{ item.user.name}}</h2>
          <h3><i class='ion-android-restaurant assertive'></i> {{ item.restaurant_name }}</h3>
          <i ng-if="item.gender_pref=='male'" class="button-icon icon ion-man calm"></i>
          <i ng-if="item.gender_pref=='female'" class="button-icon icon ion-woman assertive"></i>
          <i class="button-icon icon ion-wineglass energized"></i>

          <p> {{ item.proposition | limitTo: 100 }}{{ item.bio.length > 150 ? '&hellip;': ''}} </p>
          <!-- Star button -->
          <a
            class="button button-clear icon ion-star button-assertive"
            ng-click="toggleStar(item)"
            ng-show="item.star"
            >
          </a>
          <!-- star option on slide -->
          <ion-option-button
            class="button-dark"
            ng-click="toggleStar(item)">
            <i class="icon ion-star"></i>
          </ion-option-button>
          <ion-delete-button class="ion-minus-circled"
            ng-click="onItemDelete(item)">
          </ion-delete-button>
          <ion-reorder-button class="ion-navicon"
            on-reorder="moveItem(item, $fromIndex, $toIndex)">
          </ion-reorder-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
